@media all  and (max-width:1200px){
    .container{
        width: 900px;
    }

    .menuTotalMore > div{
        width: 820px; 
        height: 327px;
    } 
    
.rightbottomDescriptionSquare span{
    margin-right: 13px;
}





    .container-fone{
        width: 900px;
    }
    .fone .container-fone {
        background: url(img/foneMain.jpg) no-repeat -207px;
    }
    .containerTotalGoods {
        width: 667px;
    }
    .containerGoods0 {
        Width: 667px;
        margin-left: 34px;
    }
    .goodsLine .descriptionMenu {
        width: 422px;
    }
    .goodsLine {
        width: 617px;
        margin-left: 33px;
    }
    .topDescription .starsGoods {
        width: auto;
    }
    .goodsLine .pictureOfGoods img {
        margin-left: -2px;
    }
    .mainBottomMenu ul:first-child {
        padding-left: 33px;
    }
    .mainBottomMenu ul {
        padding-left: 75px;
    }
    .squareSpan input + label{
        margin-left: 30px;}
}
@media all  and (max-width:920px){
.container{
    width: 560px;
}
.header-top {
    padding-bottom: 64px;
}
.header-top ul {
    padding-top: 12px;
    margin-right: -13px;
}
.header-top2 ul {
    margin-left: 115px;
}
.header-top2 {
    padding-bottom: 17px;
}
.menuTotalMore > div{
    width: 600px; 
    margin-left: -138px;
    height: 327px;
} 



.header-search{
margin-left: 126px;
float: none;
}
.container-fone{
    width: 560px;
}
.container-fone p{
    display: none;
}
.header-search img:nth-child(1) {
    margin-left: 51px;
    
}
.header-search img:nth-child(2) {
    margin-left: 111px;
    padding-top: 20px;
}
.header-search input{
    padding-left: 69px;
    margin-left: 84px;
}
.fone .container-fone {
    background: url(img/foneMain.jpg) no-repeat -546px;
    height: 380px;
}
.fone .container-fone button{
    margin-top: 317px;
}
.containerTotalGoods {
    width: 327px;
}
.menuGoods .filterGoods .menuFilterGoods .hideFilter {
    display: none;
}
.menuGoods .filterGoods .menuFilterGoods img:first-child {
    display: none;
}
.containerGoods0 {
    width: 327px;
}
label[for="spanGoodsFilter"]{
    display: none;
}
#spanGoodsFilter{
    display: none;
}
.mainBottomMenu {
    padding-top: 11px;
}
.mainBottomMenu ul {
    margin-top: 7px;
    padding-left: 124px;
}
.squareSpan input:checked + label + .containerGoods{
    display: none;
}

.squareSpan input + label[for="spanGoodsFilter"]{
    display: none;
}
.totalName{
padding-top: 13px;
padding-bottom: 44px;
}
.containerTotalGoods{
    width: 538px;
    float: none;
}
.SearchGoods-header{
    padding-bottom: 81px;
}
.containerGoods0{
    margin-left: -34px;
    float: none;
    width: 600px;
}
}
@media all  and (max-width:600px){
    .container{
        width: 300px;
    }
    .header-top .logo{
        margin-left: 76px;
    }
    .header-top img{
        display: block;
        margin-top: 6px;
        cursor: pointer;
    }
    .menuTotalMore > div{
        width: 320px; 
        margin-left: -138px;
        height: 621px;
    } 
    .menuTotalMore:hover > .menuManMore{
        left: 0px;
        top:85px;
    }
    .menuTotalMore:hover > .menuWomanMore{
        left: 0px;
        top:124px;
    }
    .menuTotalMore:hover > .menuKidMore{
        left: 0px;
        top: 167px;
    }
    .menuTotalMore:hover > .menuSaleMore{
        left: 0px;
        top: 211px;
    }
    .slideMenu{
        display: none;
    }
    .ulLogoMore ul{
        padding-bottom: 20px;
    }
    .ulLogoMore ul li:nth-child(4){
        padding-right: 127px;
        padding-top: 20px;
    }
    .liBold{
        padding-top: 20px;
    }
    .menuTotalMore{
        float: none;
    }
    .header-search{
        float: left;
        margin-left: -33px;
    }
    .header-top2 ul {
        margin-left: 123px;
    }
    .fone .container-fone {
        background: url(img/foneMain.jpg) no-repeat -656px -58px;
        height: 229px;
        width: 620px;
    }
    .fone .container-fone button{
        margin-top: 92px;
        margin-left: 51px;
        color: #fff;
    border: 3px solid #fff;
    }
.containerSearchGoods{
    margin-left: 29px;
    padding-bottom: 30px;
}
.theWay{
    margin-left: 29px;
}
.containerTotalGoods{
    margin-left: 17px;
    width: 233px;
    float: left;
}


.squareSpan input:checked + label + .containerGoods{
    display: none;
}

.squareSpan input + label[for="spanGoodsFilter"]{
    display: none;
}
.goodsSquare{
    margin-left: 38px;
}

.mainBottomMenu ul:first-child{
    padding-left: 0px;
}
.mainBottomMenu{
    width: 320px;
    height:714px;
}
.mainBottomMenu ul{
    padding-left: 0px;
    margin-left: 104px;
}
.container-fone {
    width: 320px;
    
}
.totalName{
    padding-top: 13px;
    padding-bottom: 44px;
    }
    .containerTotalGoods{
        width: 233px;
        float: left;
        margin-left: 0px;
    }
    .SearchGoods-header{
        padding-bottom: 48px;
    }
    .containerGoods0{
        margin-left: -34px;
        float: none;
        width: 327px;
    }




}